body {
    background-color: #D7EFEF;
    font-family: sans-serif;
}

#strona {
    width: 90%;
    max-width: 850px;
    padding: 2%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
}

nav {
    display: inline-block;
    width: 35%;
    float:left;
}

nav ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
}

nav a {
    display: block;
    background-color: #67C7C7;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

article {
    display: inline-block;
    width: 60%;
    background-color: #fff;
}

section {
    background-color: #605F70;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 1%;
    width: 46%;
    float: left;
}

@media all and (max-width: 800px) {
    body {
	background: red;
    }
}

@media all and (max-width: 500px) {
    body {
	background: #ff0;
    }
    nav {
	width:100%;
    }
    article {
	width:100%;
    }
    section {
      width: 100%;
    }
